/*Global*/
*,
*::before, *::after {
  box-sizing: border-box;
}

/*background*/
body {
  margin: 0;
}

.hamburger {
  display: none;
  position: absolute;
}

.menu-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.item {
  display: block;
  text-decoration: none;
  list-style-type: none;
}

.menu-list li {
  list-style-type: none;
  display: none;
}

.header-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 0;
  width: 100%;
}

.background-image {
  display: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

ul {
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  position: absolute;
}

.header-wrapper {
  display: inline;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: italic;
  color: #fff;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  color: #fff;
}

/*Services*/
.service-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.services h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 70px;
}

.services h5 {
  text-align: center;
  color: #777777;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: italic;
}

.service-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  margin-bottom: 72px;
}

.service-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin: 0 60px;
}

i {
  background-color: #ffffff;
  font-size: 27px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 3px solid #fed136;
  color: #fed136;
  line-height: 60px;
  padding-top: 6px;
  margin: 0 auto;
}

.services p {
  width: 274px;
  height: 57px;
  color: #777777;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}

/* Portfolio*/
.portfolio-container {
  position: relative;
  max-width: 100%;
  min-height: 1200px;
  background-color: #f7f7f7;
  color: black;
  margin: 0 auto;
  text-align: center;
  min-height: 570px;
  padding: 50px 10px;
}

.portfolio h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 70px;
}

.portfolio h5 {
  text-align: center;
  color: #777777;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */