/*Global*/


*,
*::before,*::after {
  box-sizing: border-box;
}

$font-text:'Roboto Slab', serif;
$font-header:'Montserrat', sans-serif;
$color-one: #ffffff;
$color-two: #f7f7f7; /*background*/
$color-three: #fed136;


body {
  margin: 0;
}

.hamburger {
  display: none;
  position: absolute;
}

.menu-list {
  display: flex;
  flex-direction: column;
}

.item {
  display: block;
  text-decoration: none;
  list-style-type: none;
}

.menu-list li {
  list-style-type: none;
  display: none;
}

i.fas.fa-bars {

}

.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 0;
  width: 100%;
}

.header-image-holder {

}

.background-image {
  display: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
}

.logo {

}

.navigation {
  display: flex;
  display: inline-block;
  position: absolute;
}

a.menu-item {

}

.navigation li {

}

.btn1 {

}

.header-wrapper {
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

h1 {
  font-family: $font-header;
  font-size: 40px;
  font-style: italic;
  color: #fff;

}

h2 {
  font-family: $font-header;
  font-size: 80px;
  color: #fff;

}

/*Services*/

.service-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services h2 {
  text-align: center;
  font-family: $font-header;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 70px;
}

.services h5 {
text-align: center;
color: #777777;
font-family: $font-header;
font-size: 16px;
font-style: italic;
}

.service-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 72px;
}

.service-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $font-text;
  margin: 0 60px;
}

i {
  background-color: $color-one;
  font-size: 27px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 3px solid $color-three;
  color: $color-three;
  line-height: 60px;
  padding-top: 6px;
  margin: 0 auto;
}

.services p {

width: 274px;
height: 57px;
color: #777777;
font-family: $font-text;
font-size: 14px;
font-weight: 400;
letter-spacing: -0.35px;
}


/* Portfolio*/

.portfolio-container {
  position: relative;
  max-width: 100%;
  min-height: 1200px;
  background-color: $color-two;
  color: black;
  margin: 0 auto;
  text-align: center;
  min-height: 570px;
  padding: 50px 10px;
}


.portfolio h2 {
  text-align: center;
  font-family: $font-header;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 70px;
}

.portfolio h5 {
text-align: center;
color: #777777;
font-family: $font-header;
font-size: 16px;
font-style: italic;
}
