/*Global*/


*,
*::before,*::after {
  box-sizing: border-box;
}

$font-text:'Roboto Slab', serif;
$font-header:'Montserrat', sans-serif;
$color-one: #ffffff;
$color-two: #f7f7f7; /*background*/
$color-three: #fed136;


body {
  margin: 0;
}

.hamburger {
  display: none;
  position: absolute;
  top: 15px;
  right: 10px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  background-color: $color-two;
  padding: 0, 10px;
}

.item {
  display: block;
  text-decoration: none;
  list-style-type: none;
  font-family:$font-header;
  font-size: 15;
  color: black;
  background-color: $color-two;
  padding: 0 20px;
  margin: 0 20px;
}

.menu-list li {
  list-style-type: none;
  display: none;
}

i.fas.fa-bars {
  font-size: 28px;
  background-color: none;
  color: $color-two;
  border: none;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 0;
  width: 100%;
}

.header-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.background-image {
  display: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
}

.logo {
  position: absolute;
  top: 36px;
  left: 124px;
}
/*
.header-container:hoover.overlay {
  opacity: 40%;
}
*/

.navigation {
  display: flex;
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 13%;
}

a.menu-item {
  display: block;
  text-decoration: none;
  list-style-type: none;
  font-family:$font-header;
  color: $color-one;
  font-size: 14px;
  padding-right: 34px;
}

.navigation li {
  display: inline;
  list-style-type: none;
}

.btn1 {
  background-color: $color-three;
  color: $color-one;
  text-decoration: none;
  border: 0;
  border-radius: 5%;
  font-family: $font-header;
  font-size: 18px;
  padding: 25px 50px;
  font-weight: 700;
  margin-top: 54px;
}
/*
.btn1:hover {
  transform: scale(1.2);
}
*/

.header-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

h2 {
  font-family: $font-header;
  font-size: 40px;
  font-style: italic;
  color: $color-one;
  margin-bottom: 0;
  margin-top: 40px;
}

h1 {
  font-family: $font-header;
  font-size: 75px;
  color: $color-one;
  margin-bottom: 0;
  margin-top: 20px;
}

/*Services*/

.service-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services h2 {
  text-align: center;
  font-family: $font-header;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 70px;
}

.services h5 {
text-align: center;
color: #777777;
font-family: $font-header;
font-size: 16px;
font-style: italic;
}

.service-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 72px;
}

.service-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $font-text;
  margin: 0 60px;
}

i {
  background-color: $color-one;
  font-size: 27px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 3px solid $color-three;
  color: $color-three;
  line-height: 60px;
  padding-top: 6px;
  margin: 0 auto;
}

.services p {

width: 274px;
height: 57px;
color: #777777;
font-family: $font-text;
font-size: 14px;
font-weight: 400;
letter-spacing: -0.35px;
}


/* Portfolio*/


.portfolio {
  position: relative;
  max-width: 940px;
  background-color: $color-two;
  color: black;
  margin: 0 auto;
  text-align: center;
  padding: 50px 10px;
}


.portfolio h2 {
  text-align: center;
  font-family: $font-header;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 70px;
}

.portfolio h5 {
  text-align: center;
  color: #777777;
  font-family: $font-header;
  font-size: 16px;
  font-style: italic;

}

.portfolio-row {
  display: flex;
  width: 941px;
  height: 393px;
}

.image-card {
  width: 75%;
  height: 390px;
  background-color: white;
  margin: 0 auto;
  /* Style for "Item 1" */
width: 291px;
height: 393px;
}

.image-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image-card p {
  font-weight: bold;
  font-size: 18px;
  font-family: $font-header;
  color: #333333;
}

.holder {
  width: 100%;
}

.image-card span {
  font-weight: normal;
  font-size: 14px;
  color: #737373;
  font-style: italic;
}

.img-container {
  margin-bottom: 30px;
}

.portfolio-image {
  flex: 1 1 30%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* Footer*/

.container-footer {
  display: flex;
  justify-content:center;
  background-color: $color-one;
}

.copy {
  text-align: center;
  flex: 1;
  padding-top: 20px;
}

i.far.fa-copyright {
  font-size: 14px;
  color: #555555;
  border: none;
  background-color: $color-two;
  width: auto;
  height: auto;
}

.copy p {
width: 255px;
height: 14px;
color: #555555;
font-family: $font-header;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.35px;
}

.icon-menu {
  display:flex;
  flex: 2;
}
.list-inline {
  list-style-type: none;
  margin-left: 40px;
  padding-left: 72px;
  padding-top: 20px;
}

.list-inline li {
  text-decoration: none;
  display: inline;
}

.list-inline-item {
  text-decoration: none;
  display: inline;
  text-align: center;
}
.list-inline-item span {
  font-size: 0;
}


i.fab.fa-twitter,
i.fab.fa-facebook-f,
i.fab.fa-pinterest,
i.fab.fa-google-plus-g {
  color: $color-one;
  font-size: 18px;
  height: 40px;
  width: 41px;
  background-color: black;
  border: none;
  margin-right: 9px;
  padding-top:10px;
}
